body {
  font-family: 'lunchtype24expanded_regular', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #000;
}

.site-header {
  background-color: #FB7915;
}

.main-navigation {
  margin: 32px 0 48px 64px;
}

.main-menu a {
  display: block;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
}

/* override the default image styles */
.site-branding img {
  width: auto !important;
  height: auto !important;
  display: block;
  max-height: 100vh;
}

.logo {
  width: 330px;
}

.products {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.product a {
  display: block;
  padding: 32px;
  text-decoration: none;
  color: #fff;
}

.product img {
  display: block;
  width: auto !important;
  height: auto !important;
  margin: auto;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 32px 24px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

/* fade in our product info when we hover a product */
.product:hover .product-info {
  opacity: 1
}

.product-info .woocommerce-loop-product__title {
  font-size: 24px;
  font-family: 'lunchtype24expanded_medium', sans-serif;
  margin: 0;
  line-height: 1;
}

.product-info .price {
  font-size: 20px;
}


.woocommerce-products-header__title {
  /* flex things so we can display them as boxes side by side nicely */
  display: flex;
  /* makes sure the words don’t wrap onto new lines */
  white-space: nowrap;
  /* remove the default margins */
  margin: 0 auto;
  /* stops scrollbars on the page */
  overflow: hidden;
  /* essentially this is a bit of a visual trick */
  transform: translateX(-50%);
  width: 200%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 2s linear infinite;
  display: block;
  line-height: 1;
  font-size: 32px;
  padding: 32px;
}
